.recommended-flex {
  display: flex;
  width: 90%;
  margin-left: 50px;
  border-bottom: 2px solid #d1d3d4;
  gap: 20px;
}

.recommended-title {
  margin-top: 90px;
  margin-left: 50px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 20px 0px;
  width: 40%;
}

.btns {
  padding-bottom: 10px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
  margin-top: 0px;
  font-size: 15px;
}

@media (max-width: 640px) {
  .recommended-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  .recommended-title {
    margin-left: 2rem;
  }
  .btns {
    margin: 4px;
  }
}
